
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Skąd jestem</a></li>
        <li><a href="#">Co się udało</a></li>
        <li><a href="#">Co będzie</a></li>
        <li><a href="#">Co mnie nakręca</a></udemyli>
      </ul>
    </nav>
    <section>

    </section>
  </body>
</html>

<%= link_to 'About', about_path %>
